/********************************************************
GENERAL
**********************************************************/

body {
	background-color: #9c0f5f;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
}



/*********************************************************
HEADER
**********************************************************/
header {
	text-align: center;
	color: #160a47;
}


/*********************************************************
 FIELD
**********************************************************/

#snakeField {
	float:left;
	padding: 0 10px 0 20px;
}


.row {
	height: 15px;
}

.row > div {
	display: inline-block;
	/*border: 1px solid #160a47;*/
	/*padding: 1px;*/
	height: inherit;
	width: 15px;
}

.row:nth-of-type(1) > div{
	border-top: 3px solid #160a47;
}

.row:nth-last-of-type(1) > div {
	border-bottom:3px solid #160a47;
}

.row > div:nth-of-type(1) {
	border-left: 3px solid #160a47;
}

.row > div:nth-last-of-type(1) {
	border-right: 3px solid #160a47;
}

.empty {
	background-color: #60047a;
}

.body {
	background-color: #f2671f;
}
.meal {
	background-color: royalblue;	
}
.wall {
	background-color: #160a47;
}
.bonus {
	background-color: red;
}

/*********************************************************
 CURRENT GAME STATISTIC
**********************************************************/
#statistic {
	display: inline-bock;
	float: left;
	text-align: center;
	padding: 0 20px;
}

/*********************************************************
 DIALOG
**********************************************************/

#end {
	min-width: 240px;
	height: 10%;
	padding: 10px 0;
	margin: 10% 35% 0;
	border: 3px solid #160a47;
	font-size: 1.25em;
	background-color: white;
}

#button {
	display: block;
	font-size: 1.15em;
	margin: 10px 25%;
	border: 2px solid #160a47;
	cursor: pointer;
}

#end-statistic{
	background-color: inherit;
}